html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#ground {
  background-color: #111;
  min-height: 100%;
  position: relative;
  padding:0;
  margin: 0;
  overflow: hidden;
}

#content {
  margin: 40px auto;
  width: 1000px;
  overflow: hidden;
}

#content ul#screenlist {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 1000px;
  height: 600px;
  border-radius: 8px;
}


#content ul#screenlist li.screen {
  display: none;
  list-style-type: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;

}


#content ul#screenlist li.screen.active {
  display: block;
}




ul#screenlist li.screen h1 {
  text-align: center;
}

ul#screenlist li.screen img.emblem {
  float: left;
  margin: -10px 20px 10px 0;
}

ul#screenlist li.screen p {
  width: 80%;
  margin: 20px auto;
}

ul#screenlist li.screen a.back-link {
  text-decoration: none;
  color: #333;
  font-size: 80%;
}

ul#screenlist li#index-screen.screen li {
  list-style-type: none;
}

ul#screenlist li#index-screen.screen li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  margin: 5px 0;
}

ul#screenlist li#index-screen.screen li a:hover {
  color: #77f;
}











